PROJECT_NAME=Recipe API
PROJECT_VERSION=0.1.0
DEBUG=True

DATABASE_URL=postgresql+asyncpg://postgres:your_password@localhost:5432/recipe_db

SECRET_KEY=your-secret-key-here

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7